In [1]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/suspicious_transactions_db")

In [3]:
 # code a function to identify outliers based on standard deviation

ProgrammingError: (psycopg2.errors.UndefinedFunction) function month(integer, integer) does not exist
LINE 1: ...transaction.card WHERE card_holder.id IN (25) AND month(1,4)...
                                                             ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT id_card_holder, date_part('month', date) as month, amount FROM credit_card JOIN  card_holder ON id_card_holder=id JOIN transaction ON credit_card.card=transaction.card WHERE card_holder.id IN (25) AND month(1,4);]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [7]:
# loading data for card holder 2 and 18 from the database
query = "SELECT id_card_holder, date, amount FROM credit_card JOIN  card_holder ON id_card_holder=id JOIN transaction on credit_card.card=transaction.card WHERE card_holder.id IN (25) AND date_part('hour', date) BETWEEN 7 AND 9 ;"

transaction = pd.read_sql(query, engine)

transaction

    id_card_holder                date   amount
0               25 2018-03-05 07:34:15    16.58
1               25 2018-03-06 07:18:09  1334.00
2               25 2018-03-12 09:08:18     1.65
3               25 2018-04-01 07:17:21   100.00
4               25 2018-05-19 09:12:20     2.27
5               25 2018-06-08 07:25:30    11.88
6               25 2018-06-19 07:16:54    15.98
7               25 2018-06-25 09:17:05    11.53
8               25 2018-07-29 09:38:57    10.17
9               25 2018-09-04 09:20:30     1.61
10              25 2018-10-08 08:18:57     1.74
11              25 2018-12-15 08:34:15    14.36